bin/
obj/
lib
publish/
nuget-packages/
packages/
target
output
reports
*.suo
*.user
*.DotSettings
_Resharper*
*-report.xml
src/PostalCodes.Documentation/Help/
*.GhostDoc.xml
*.log
*.userprefs
index.md
*.nupkg
